/* el-overlay */
.el-overlay {
  position: relative;
}

.el-overlay-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-wrapper-bg {
  background-color: #fff;
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      #f0f0f0 25%,
      transparent 25%,
      transparent 75%,
      #f0f0f0 75%,
      #f0f0f0
    ),
    repeating-linear-gradient(
      45deg,
      #f0f0f0 25%,
      #fff 25%,
      #fff 75%,
      #f0f0f0 75%,
      #f0f0f0
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  padding: 1.4rem;
}

:root.dark .screenshot-wrapper-bg {
  background-color: #181818;
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      #222222 25%,
      transparent 25%,
      transparent 75%,
      #222222 75%,
      #222222
    ),
    repeating-linear-gradient(
      45deg,
      #222222 25%,
      #181818 25%,
      #181818 75%,
      #222222 75%,
      #222222
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  padding: 1.4rem;
}

.dialog-custom {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.dialog-custom > .el-dialog__body {
  flex: 1 1 auto;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dialog-custom:not(.is-fullscreen) {
  max-height: 90vh;
  width: auto;
  overflow: auto;
  margin: auto;
}
